// DO NOT COMMIT OR EDIT THIS FILE
API_URL=https:/$()/node-starter-mobilecoderz.herokuapp.com
DEPLOYMENT_KEY_IOS=UJJoE5unHTqsBicBtYsh-Oxfl91ud3oBRk7Jf
DEPLOYMENT_KEY_ANDROID=DoXbrJzuP5A02p2OrcEQPsFOib-fOabMB8egs
APPSECRET_IOS=e134e524-ab8d-440d-9c56-a95a10068ec6
APPSECRET_ANDROID=528d308a-27b5-42db-9eab-ff7637cd37bd
